*{
    --headerHeight:4rem;
    --footerHeight:2rem;
}

.crsr-ptr{
    cursor: pointer;
}

.crsr-deflt{
    cursor: default;
}

.txt-ctr{
    text-align: center;
}

.underline{
    text-decoration: underline;
}

.pos-rel{
    position: relative;
}

.pos-abs{
    position: absolute;
}